In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'cat_id':[(0,1),(0,2)]})

拆分元组列

In [3]:
df

   cat_id
0  (0, 1)
1  (0, 2)

In [7]:
type(df.cat_id[0])

tuple

In [12]:
df[['col1','col2']] = pd.DataFrame(df.cat_id.tolist(),index=df.index)

In [13]:
df

   cat_id  col1  col2
0  (0, 1)     0     1
1  (0, 2)     0     2

In [22]:
pd.DataFrame([(1,2),(3,4)],index = (0,1))

   0  1
0  1  2
1  3  4